<!DOCTYPE html>
<html>
    <head>
        <title>File Upload</title>
        <body>
            <div>
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="files" multiple/>
                    <button type="submit" >Upload</button>
                </form>
            </div>
        </body>
    </head>

</html>